#header {
		background-image: url("../../images/trophy2-final.png");
		background-repeat: no-repeat;
	}

/* XSmall */

	@media screen and (max-width: 480px) {

		/* Header */

			#header {
				padding: 23.5em 1.5em;
						background-repeat: no-repeat;
			}


	}

		@media screen and (max-width: 980px) {

	
			#header {
				padding: 20em 4em;
						background-repeat: no-repeat;
			}

	
	}