#header {
		background-image: url("images/overlay.png"), url("../../images/trophy3-final.png");
		
	}

/* XSmall */

	@media screen and (max-width: 480px) {

		/* Header */

			#header {
				padding: 26.5em 1.5em;
			}


	}

		@media screen and (max-width: 980px) {

	
			#header {
				padding: 57em 4em;
			}

	
	}